.navbar_logo {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_logo>img {
    width: 140px;
}
.sidebar_container {
    max-width: 260px;
    height: 100vh
}
.d-flex{
    display: flex;
}